div.search-content(ng-switch='isAuth', ng-controller='FaveCtrl')
  div.search-content__inner(ng-switch-when='true')
    div.editions-result
      md-list
        md-subheader.md-no-sticky
          my-i18n(msgid='fave_tab_title')
        md-list-item.edition-item(ng-repeat='edition in faves')
          md-button.edition(ng-click='editionClick($event, edition.id, $index)', aria-label='Edition')
            div.edition__category
              div.edition__category__circle(ng-class='"category-" + edition.category.id')
            div.edition__name
              span {{edition.name}}
            div.edition__fave(ng-class='{"faved": edition.fave, "not-faved": !edition.fave}')
              md-icon(aria-label='Fave icon', md-svg-icon='img/icons/ic_star_rate_24px.svg')

  div.search-content__inner(ng-switch-default)
    include user-not-auth
  div(ng-if='!faves.length')
    include no-faves