div.search-content(ng-switch='isAuth', ng-controller='FaveCtrl')
  div.search-content__inner(ng-switch-when='true')
    div.editions-result
      md-list
        md-subheader.md-no-sticky
          my-i18n(msgid='fave_tab_title')
        md-list-item.edition-item(ng-repeat='edition in faves')
          md-button.edition(ng-href='{{edition.download_url}}', target='_blank', aria-label='Edition')
            div.edition__name
              span {{edition.name}}
            md-button.edition-fave(onclick='alert("Добавлено в избранное"); return false;')
              md-icon(ng-class='{"faved": edition.fave, "not-faved": !edition.fave}', md-svg-icon='img/icons/ic_star_rate_48px.svg', aria-label='Fave')

  div.search-content__inner(ng-switch-default)
    include user-not-auth