include ../mixins/mixins

div(layout='column', flex)
  include toolbar
  md-content(md-scroll-y, flex)
    div.content-inner
      md-content.content-inner__tabs(style='margin-bottom: 20px;')
        md-tabs(md-dynamic-height, md-border-bottom, md-selected='selectedTabIndex')
          md-tab(label='{{"search_tab_title" | i18n}}')
            md-content
              include search-content

          md-tab(label='{{"fave_tab_title" | i18n}}', ng-disabled='!isAuth')
            md-content
              include fave-content
