md-content.user-not-authed.md-padding(layout='row', layout-align='center center')
  div.user-not-authed__layer
    div.user-not-authed__layer__description
      span
        my-i18n(msgid='faves_not_found')
