div.search-content(ng-switch='isAuth', ng-controller='SearchCtrl')
  div.search-content__inner(ng-switch-when='true')
    md-input-container.md-accent.search-content__input(flex)
      label
        my-i18n(msgid='search_input_label')
      input(type='text', ng-model='search.q')
    div.editions-result
      md-list
        md-subheader.md-no-sticky(ng-switch='search.q.length === 0')
          span(ng-switch-when='true') Популярное
          span(ng-switch-default) Результаты поиска
        md-list-item.edition-item(ng-repeat='edition in search.found_editions')
          md-button.edition(ng-href='{{edition.download_url}}', target='_blank', aria-label='Edition')
            div.edition__name
              span {{edition.name}}
            md-button.edition-fave(onclick='alert("Добавлено в избранное"); return false;')
              md-icon(ng-class='{"faved": edition.fave, "not-faved": !edition.fave}', md-svg-icon='img/icons/ic_star_rate_48px.svg', aria-label='Fave')

  div.search-content__inner(ng-switch-default)
    include user-not-auth