md-content
  md-toolbar
    div.md-toolbar-tools
      md-button.md-icon-button(aria-label='Settings')
        md-icon(md-svg-icon='img/icons/ic_menu_24px.svg')
      h2
        span MISIS Books Angular
      span(flex)
      md-button.md-icon-button(aria-label='Favorite')
        md-icon(md-svg-icon='img/icons/ic_more_vert_24px.svg')