md-content
  md-toolbar
    div.md-toolbar-tools
      //md-button.md-icon-button(aria-label='Settings')
        //md-icon(md-svg-icon='img/icons/ic_menu_24px.svg')
      h2
        my-i18n(msgid='app_name')
      span(flex)
      md-button.md-icon-button(aria-label='Favorite', ng-if='isAuth')
        md-icon(md-svg-icon='img/icons/ic_exit_to_app_24px.svg', ng-click='exitFromApp()')