$media: screen;
$laptop_min_width: 1024px;
$phone_max_width: 799px;
$phone_min_width: 300px;


@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}
@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

body {
  overflow-x: hidden !important;
  background: #f6f6f6;
}

md-toolbar {
  md-icon.md-default-theme {
    color: white;
  }
}

.debug {
  @include box-sizing(border-box);
  border: 1px solid #000;
  background: #00A000;
}

.content-inner {
  width: 1024px;
  @media #{$media} and (min-width: $phone_max_width + 1) and (max-width: $laptop_min_width) {
    width: 600px;
  }
  @media #{$media} and (min-width: $phone_min_width) and (max-width: $phone_max_width) {
    width: 100%;
  }
  margin: auto;
  //@extend .debug;
}

md-content {
  background-color: transparent !important;
}

.content-inner__tabs {
  background-color: transparent !important;
  md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    .md-header {
      background: #fff;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}

[md-dynamic-height] {
  @include transition(all .2s ease)
}