$media: screen;
$laptop_min_width: 1024px;
$phone_max_width: 799px;
$phone_min_width: 300px;


@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}
@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

body {
  overflow-x: hidden !important;
  background: #f6f6f6;
}

md-toolbar {
  md-icon.md-default-theme {
    color: white;
  }
}

.debug {
  @include box-sizing(border-box);
  border: 1px solid #000;
  background: #00A000;
}

.content-inner {
  width: 1024px;
  @media #{$media} and (min-width: $phone_max_width + 1) and (max-width: $laptop_min_width) {
    width: 600px;
  }
  @media #{$media} and (min-width: $phone_min_width) and (max-width: $phone_max_width) {
    width: 100%;
  }
  margin: auto;
  //@extend .debug;
}

md-content {
  background-color: transparent !important;
}

.content-inner__tabs {
  background-color: transparent !important;
  margin-bottom: 20px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.64);
  md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    .md-header {
      background: #fff;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}

[md-dynamic-height] {
  @include transition(all .2s ease)
}
.user-not-authed {
  padding: 20px;
  .user-not-authed__layer {
    width: 300px;
    .user-not-authed__layer__img {
      width: 90%;
      text-align: center;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .user-not-authed__layer__description {
      text-align: center;
      padding: 10px 0;
      span {
        font: {
          size: 1.5em;
        }
        color: #777;
      }
    }
    .user-not-authed__layer__controls {
      @extend .user-not-authed__layer__description;
      .md-button {
        padding: 10px 14px;
      }
    }
  }
}

.error-modal {
  background: #fff;
  border-radius: 3px;
  .error-modal__title {
    padding: 15px;
  }
  .error-modal__content {
    padding: 15px;
    color: #777;
  }
  .error-modal__controls {
    padding: 15px;
  }
}

.not-faved {
  color: #999999;
}
.faved {
  color: #fb5748;
}
.md-subheader {
  background-color: transparent !important;
}
.edition-item__link {
  font-size: inherit;
  height: inherit;
  text-align: left;
  text-transform: none;
  width: 100%;
  white-space: normal;
  display: block;
  background: #fff;
}
.edition-item__link__name {
  padding: 15px 25px;
  display: block;
}
.editions-result {
  background: #fff !important;
}
.edition {
  text-align: left;
  text-transform: none;
  display: block;
  padding: 22px 18px;
  position: relative;
  width: 100%;
  white-space: nowrap;
}
.search-content__input {
  padding: 10px 24px 24px;
  background: #fff;
}
.edition-item {
  position: relative;
}
.bottom-sheet__edition {
  md-list-item {
    display: block;
    margin-bottom: 7px;
    a {
      display: inline-block;
    }
  }
  .md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle;
    padding-top: 7px;
  }
}
.edition__category {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  .edition__category__circle {
    height: 100%;
    border-radius: 50%;
    width: 100%;
  }
  .category-2 {
    background-color: #4ABFB4;
  }
  .category-2 .search-result__category-name {
    color: #4ABFB4
  }
  .category-3 {
    background-color: #FD5559;
  }
  .category-3 .search-result__category-name {
    color: #FD5559;
  }
  .category-4 {
    background-color: #B8914E;
  }
  .category-4 .search-result__category-name {
    color: #B8914E;
  }
  .category-5 {
    background-color: #B3C833;
  }
  .category-5 .search-result__category-name {
    color: #B3C833;
  }
  .category-6 {
    background-color: #9B59B6;
  }
  .category-6 .search-result__category-name {
    color: #9B59B6;
  }
  .category-7 {
    background-color: #FF9100;
  }
  .category-7 .search-result__category-name {
    color: #FF9100;
  }
  .category-8 {
    background-color: #2ECC71;
  }
  .category-8 .search-result__category-name {
    color: #2ECC71;
  }
}
.edition__name, .edition__fave {
  display: inline-block;
  vertical-align: top;
}
.edition__name {
  margin-left: 18px;
  white-space: normal;
}
.edition__fave {
  float: right;
}
md-select-menu {
  background: #fff !important;
}