meta(content-type='text/html', charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

+css('//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=cyrillic,cyrillic-ext,latin')
+css('bower_components/angular-material/angular-material.min.css')
+css('css/prod/style.min.css')