extends ../_layout

block content


  +js_list([
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
    'bower_components/angular/angular.min.js',
    'bower_components/angular-animate/angular-animate.min.js',
    'bower_components/angular-aria/angular-aria.min.js',
    'bower_components/angular-material/angular-material.min.js',
    'js/prod/build.min.js'
  ])